
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.1/css/ion.rangeSlider.min.css" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.1/js/ion.rangeSlider.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <meta name='viewport' content='width=device-width, initial-scale=1'>



    <link href="~/Content/css/car/main.css" rel="stylesheet" />
    <link href="~/Content/css/car/stepper.css" rel="stylesheet">
    <style>


        li a {
            color: white
        }

        li a:hover {
            color: white;
            text-decoration: none
        }

        ul li:hover {
            background-color: red;
        }

       
    </style>
    <meta name="viewport" content="width=device-width" />
    <title>Documents</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="background-color:black; height:70px;">
        <div class="container">

            <a class="navbar-brand font-bold" href="/Home/Index"><h2>QGS<em style="font-style:normal;color:red">VL</em></h2></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-4" aria-controls="navbarSupportedContent-4" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent-4">
                <ul class="navbar-nav ml-auto">

                    <li class="nav-item">
                        <a class="nav-link" href="/Car/HomeCarDetails">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="http://localhost:50093/car/MyQuote?usr_email=@User.Identity.Name">My Quotes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Car/HomeCarDetails/#section1">What is Private Lease</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="">FAQ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Account/Logout"><i class="fas fa-sign-out-alt"></i>LogOut</a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>

    <br />
    <br />
    <br />
    <br />
    <br />

    <!--/.Navbar-->
    <!-------------------------------------------------------------- <section> ------------------------------------------------------------------->
    <div class="container">
        <div class="stepwizard">
            <div class="stepwizard-row setup-panel">
                <div class="stepwizard-step col-xs-3">
                    <a href="#step-1" type="button" class="btn btn-default btn-circle" style="background-color:lightblue;">1</a>
                    <p><small>Start Application</small></p>
                </div>
                <div class="stepwizard-step col-xs-3">
                    <a href="#step-2" type="button" class="btn btn-default btn-circle" style="background-color:lightblue;">2</a>
                    <p><small>Credit Check</small></p>
                </div>
                <div class="stepwizard-step col-xs-3">
                    <a href="#step-3" type="button" class="btn btn-default btn-circle" style="background-color:lightblue;">3</a>
                    <p><small>Direct debit</small></p>
                </div>
                <div class="stepwizard-step col-xs-3">
                    <a href="#step-4" type="button" class="btn btn-default btn-circle" style="background-color:lightblue;">4</a>
                    <p><small>Documents</small></p>
                </div>
                <div class="stepwizard-step col-xs-3">
                    <a href="#step-5" type="button" class="btn btn-success btn-circle">5</a>
                    <p><small>E-Sign</small></p>
                </div>
            </div>
        </div>
    </div>
    <br /><br />

    <div class="container parent-container">

        <div class="row">
            <div class="card" style="width:100%;">
                <button class="btn btn-light" style="width:100%; height:60px;" data-toggle="collapse" data-target="#collapseOne"
                        aria-expanded="false" aria-controls="collapseOne">
                    <b>Signature</b>
                    <i class="fa fa-plus" style="float:right;"></i>
                </button>
            </div>
        </div>
        <div class="row">
            <div class="card" style="width: 100%;">
                <div class="collapse show " id="collapseOne" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body">
                        <!--Accordian-Body-Content-->
                        <h5 class="text-success"><i class="fa fa-check"></i> Final Process</h5>
                        <div class="mt-4">You need to sign your agreement online to complete the process. We use Digital Signature so that you don't have to print or sign any documents.</div>
                        <a class="btn btn-primary float-right mt-5 mr-3 mb-3" href="/Car/HomeCarDetails">START E-SIGNATURE</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 px-2 mt-4 footer1 px-5 py-3">
            @Html.ActionLink("Previous", "Documents", "", new { @class = "btn btn-primary" })
        </div>

    </div>
    <!-------------------------------------------------------------- <section-4> ------------------------------------------------------------------->
    <br /><br /><br /><br />


    <footer class="footer fixed-bottom" style="background-color:black @*#2C3335;*@">
        <div class="container" style="height: 60px;">
            <div class="row justify-content-between">
                <div class="col-md-3 pt-3">
                    <ul class="list-inline quicklinks">
                        <li class="list-inline-item">
                            <a href="#" style="color: white;">&copy;&nbsp;Quote Generation System</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-6 pt-3">
                    <ul class="list-inline quicklinks" style="color: white;">
                        <li class="list-inline-item">
                            |&nbsp;<a href="#" style="color: white;">Contact</a>
                        </li>
                        <li class="list-inline-item">
                            |&nbsp;<a href="~/Pdfs/PrivatePolicy.pdf" style="color: white;">Private Policy</a>
                        </li>
                        <li class="list-inline-item">
                            |&nbsp;<a href="~/Pdfs/TermsOfUse.pdf" style="color: white;">Terms of Use</a>
                        </li>
                        <li class="list-inline-item">
                            |&nbsp;<a href="~/Pdfs/CookiePolicy.pdf" style="color: white;">Cookie Policy</a>&nbsp;|
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>
