.img {
    background: url(../Images/2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /*opacity: 0.9;*/
    height: 100vh;
}

form {
    color: white;
    margin-top: 20%;
    padding: 80px 40px;
    -webkit-box-shadow: 10px 10px 48px 43px rgba(0, 0, 0, 1);
    -moz-box-shadow: 10px 10px 48px 43px rgba(0, 0, 0, 1);
    box-shadow: 10px 10px 48px 43px rgba(0, 0, 0, 1);
}